node_modules/
projects/*/build/
projects/*/public/app.js
projects/*/public/app.js.map
projects/*/public/simulation.wasm
projects/*/public/simulation.wasm.map
projects/*/public/*.wasm
projects/*/public/*.wasm.map
/public/
/build/
